// **
//  * Alignment helper classes
// **
.align-left {
    margin-left: 0;
    margin-right: auto;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.align-right {
    margin-left: auto;
    margin-right: 0;
}

// **
//  * Text alignment helper classes
// **
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}