/**
 * Grid breakpoints
**/
$mobile: 576px !default;
$tablet: 768px !default;
$laptop: 992px !default;
$desktop: 1200px !default;
$widescreen: 1400px !default;

$small: $mobile !default;
$medium: $tablet !default;
$large: $laptop !default;
$extralarge: $desktop !default;

$breakpoints: (
//  ('xs', 0),
//  ('sm', $small),
  ('md', $medium),
  ('lg', $large)
//  ('xl': $extralarge),
//  ('xxl': $widescreen)
) !default;

$media-breakpoints: (
    ('small', $small),
    ('medium', $medium),
    ('large', $large),
    ('extralarge', $extralarge)
) !default;
