/*
 * Classes to hide or show elements based on breakpoints
*/

.hide-sm,
[class*=show--] {
    display: none !important;
}

@each $breakpoint in $breakpoints {
    $label: nth($breakpoint, 1);
    $width: nth($breakpoint, 2);
    @media only screen and (min-width: #{$width}) {
        .hide--#{$label} {
            display: none !important;
        }

        .show--#{$label} {
            display: block !important;
        }

        .show--#{$label}-inline {
            display: inline !important;
        }

        .show--#{$label}-inline-block {
            display: inline-block !important;
        }
    }
}