/*
 * Column Classes
*/

/*
 * .col default to full width mobile-first
 * .no-gutter removes gutter
*/
.col,
.col-100,
[class*=col] {
    @include make-col-percent(10);

    &:not(.no-gutter) {
        margin: calc(#{$gutter-width} / 2);
    }
}

[class*=col] {
    flex-shrink: 0;
}

@for $index from 1 through $columns {
	.col-#{$index} {
        @include make-col($index);
	}
}

@for $index from 2 through 10 {
    $label: $index * 10;
    .col-#{$label} {
        @include make-col-percent($index);
    }
}

$percentages: 25, 33, 66, 75;
@each $percent in $percentages {
    .col-#{$percent} {
        @include make-col-percent-fixed($percent/100);
    }
}

@include respond-to('medium-up') {
    .col,
    [class*=col-lg] {
        flex-basis: auto;
        flex-grow: 1;
        width: auto;
    }
}

@each $breakpoint in $breakpoints {
    $label: nth($breakpoint, 1);
    $width: nth($breakpoint, 2);
    @media only screen and (min-width: #{$width}) {
        @for $index from 1 through $columns {
            .col-#{$label}-#{$index} {
                @include make-col($index);
            }
        }

        @for $index from 2 through 10 {
            $percentlabel: $index * 10;
            .col-#{$label}-#{$percentlabel} {
                @include make-col-percent($index);
            }
        }

        @each $percent in $percentages {
            .col-#{$label}-#{$percent} {
                @include make-col-percent-fixed($percent/100);
            }
        }
    }
}